<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">
            New Recipes
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 list-group">
        <a href="#" class="clearfix list-group-item  " *ngFor="let item of recepies">
            <div class="float-start">
                <h4 class="list-group-item-heading">
                    {{item.name}}
                </h4>
                <p class="list-group-item-text">{{item.description}}</p>
            </div>
            <span class="float-end">
                <img [src]="item.imagePath" alt="" class="img-responsive" style="max-height: 50px;">
            </span>

        </a>
        <app-recipes-item></app-recipes-item>
    </div>
</div>